input,
textarea,
select {
  /* Tirar ícones padrões como a setinha do select */
  appearance: none;
  width: 100%;
  border: 1px solid var(--stroke-default);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  font: var(--text);
}

label {
  font: var(--text-sm);
  color: var(--text-secondary);
  display: block;
  margin-bottom: 0.25rem;
}

input:focus,
select:focus,
textarea:focus {
  outline: 0.25rem solid var(--surface-secondary);
  border: 0.125rem solid var(--stroke-hightlight);
  outline-offset: 0.1px;
}
